// includes colors fonts notify menu menuTheme dialog

html {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;

	* {
		font-family: "Source Sans Pro", sans-serif;
		touch-action: manipulation;
		-webkit-text-size-adjust: none;
	}

	*:not(input) {
		cursor: default;
		-webkit-tap-highlight-color: $transparent;
		-webkit-touch-callout: none;
		user-select: none;
	}

	button {
		cursor: pointer;
	}

	.selectable {
		cursor: text;
		-webkit-tap-highlight-color: initial;
		user-select: text;
	}
}

body {
	background-color: #222;
	color: #e2e2e2;
	font-size: 20px;
}

button {
	cursor: pointer;
	border: 2px outset rgba(66, 66, 66, 0.6);
	font-size: 18px;
	border-radius: 2px;
	padding: 5px 25px;
}

div#content {
	border: 2px solid $white;
}

button#menuButton {
	background: $purple;
	top: 0;
	right: 0;
	width: 100px;
	line-height: 40px;
	padding: 0;
	position: absolute;
	text-align: center;
}

div#touchPad {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div#keyboard {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	button {
		&.backspace:after {
			@extend .fas;

			content: "\f55a";
		}

		&.left:after {
			@extend .fas;

			content: "\f053";
		}

		&.up:after {
			@extend .fas;

			content: "\f077";
		}

		&.down:after {
			@extend .fas;

			content: "\f078";
		}

		&.right:after {
			@extend .fas;

			content: "\f054";
		}

		&.pgUp:after {
			@extend .fas;

			content: "\f3bf";
		}

		&.pgDown:after {
			@extend .fas;

			content: "\f3be";
		}

		&.home:after {
			@extend .fas;

			content: "\f015";
		}

		&.return:after {
			@extend .fas;
			@extend .fa-rotate-90;

			content: "\f3be";
		}

		border: none;
		padding: 0;
		border-radius: unset;
		height: 100%;
		background-color: $black;
		color: $white;
		font-size: 16px;
		height: 38px;
		margin-bottom: 1px;
		margin-right: 1px;
		transition: transform .2s;

		&.active, &:active {
			background-color: $white;
			color: $black;
			height: 30px;
			transform: scale(2) translateY(-30px);
			transition: transform .05s;
		}
	}

	div button:first-of-type.active, div button:first-of-type:active {
		transform: scale(2) translateY(-30px) translateX(20px);
	}

	div button:last-of-type.active, div button:last-of-type:active {
		transform: scale(2) translateY(-30px) translateX(-20px);
	}

	div:last-of-type button {
		margin-bottom: 0px;
	}

	div button:last-of-type {
		margin-right: 0px;
	}
}

button#leftMouseButton, button#rightMouseButton {
	width: 50%;
	position: absolute;
	bottom: 0;
	height: 80px;
}

button#leftMouseButton {
	left: 0;
	background: $blue;
}

button#rightMouseButton {
	right: 0;
	background: $red;
}