// includes colors fonts dialog keyboard

html {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;

	* {
		font-family: "Source Sans Pro", sans-serif;
		touch-action: manipulation;
		-webkit-text-size-adjust: none;
	}

	*:not(input) {
		cursor: default;
		-webkit-tap-highlight-color: $transparent;
		-webkit-touch-callout: none;
		user-select: none;
	}

	button {
		cursor: pointer;
	}

	.selectable {
		cursor: text;
		-webkit-tap-highlight-color: initial;
		user-select: text;
	}
}

body {
	background-color: #222;
	color: #e2e2e2;
	font-size: 20px;
}

input:focus {
	outline: none;
}

input.active {
	border-color: $teal;
}

button {
	cursor: pointer;
	border: 2px outset rgba(66, 66, 66, 0.6);
	font-size: 18px;
	border-radius: 2px;
	padding: 5px 25px;
}

div#content {
	border: 2px solid $white;
}

button#menuButton {
	background: $purple;
	top: 0;
	right: 0;
	width: 100px;
	line-height: 40px;
	padding: 0;
	position: absolute;
	text-align: center;
}

div#touchPad {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 16px 16px !important;
	background-color: $grey-darker;
	background-image: linear-gradient(to right, $grey-darkest 1px, transparent 1px), linear-gradient(to bottom, $grey-darkest 1px, transparent 1px) !important;

	div.pointer {
		position: absolute;
		pointer-events: none;
		background-color: $teal-dark;
		border: 3px double $black;
		opacity: 0.3;
		border-radius: 50%;
		z-index: 99999;
		will-change: transform;
	}
}