// includes colors

ul#menu {
	max-height: 90%;
	right: 16px;
	width: 180px;
	top: 50px;
	background-color: $white;
	color: $purple-dark;

	li {
		border-color: $grey;
		font-size: 15px;
		padding: 12px 10px;
	}
}

@media (max-height: 420px) {
	ul#menu {
		top: 5%;
	}
}

body:not(.mobile) {
  ul#menu {
		&:active, &.active {
			background-color: $grey-darker;
			color: $grey-lighter;
		}

		li {
			&:hover, &.hovered {
				background-color: $purple;
				color: $white;
			}
		}
	}
}

body.mobile {
  ul#menu {
		li {
			&:active, &.active {
				background-color: $purple;
				color: $white;
			}
		}
	}
}