// includes keyboard font-awesome

soft-keyboard {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;

	button {
		background-color: $black;
		height: 42px;
		color: $white;
		font-size: 20px;
		transition: transform .2s;

		&.kb-switch {
			color: $orange;

			&:after {
				margin-top: 3px;
			}

			&.pressed {
				transform: none !important;
				background-color: $orange;
			}
		}

		&.fakeShift {
			color: $orange-lighter;

			&.pressed {
				background-color: $orange-lighter;
			}
		}

		&:after {
			@mixin fontAwesomeSolid;
		}

		&.quit:after {
			content: "\f410";
		}

		&.fullscreen:after {
			content: "\f424";
		}

		&.refresh:after {
			content: "\f2f1";
		}

		&.open:after {
			content: "\f002";
		}

		&.os:after {
			@mixin fontAwesomeBrands;

			content: "\f7df";
		}

		&.backspace:after {
			content: "\f55a";
		}

		&.media:after {
			content: "\f26c";
		}

		&.numpad:after {
			content: "\f00a";
		}

		&.basic:after {
			content: "\f11c";
		}

		&.full:after {
			content: "\f552";
		}

		&.mouse:after {
			content: "\f245";
		}

		&.hide {
			opacity: 1 !important;

			&:after {
				@mixin fontAwesomeSolid;

				content: "\f070";
			}
		}

		&.delete:after {
			transform: scale(-1, 1);
			content: "\f55a";
		}

		&.tab:after {
			content: "\f362";
		}

		&.volUp:after {
			content: "\f028";
		}

		&.volDown:after {
			content: "\f027";
		}

		&.volMute:after {
			content: "\f6a9";
		}

		&.play:after {
			content: "\f04b";
		}

		&.pause:after {
			content: "\f04c";
		}

		&.stop:after {
			content: "\f04d";
		}

		&.next:after {
			content: "\f04e";
		}

		&.prev:after {
			content: "\f04a";
		}

		&.left:after {
			content: "\f053";
		}

		&.up:after {
			content: "\f077";
		}

		&.down:after {
			content: "\f078";
		}

		&.right:after {
			content: "\f054";
		}

		&.pgUp:after {
			content: "\f3bf";
		}

		&.pgDown:after {
			content: "\f3be";
		}

		&.browserHome:after {
			content: "\f015";
		}

		&.space:after, &.lmb:after, &.rmb:after {
			content: "";
		}

		&.settings:after {
			content: "\f013";
		}

		&.shift:after, &.fakeShift:after {
			content: "\f35b";
		}

		&.keyboard:after {
			content: "\f11c";
		}

		&.return:after {
			transform: rotate(90deg);
			content: "\f3be";
		}

		&.mod {
			color: $red-light;

			&.pressed {
				background-color: $red;
			}
		}

		&.active, &.pressed {
			background-color: $white;
			color: $black;
			transform: scale(2) translateY(-30px);
			transition: transform .05s;

			&.mod {
				transform: unset !important;
			}
		}

		&:first-of-type.active:not(:only-child) {
			transform: scale(2) translateY(-30px) translateX(20px);
		}

		&:last-of-type.active:not(:only-child) {
			transform: scale(2) translateY(-30px) translateX(-20px);
		}
	}
}

/* @media (min-height: 600px) {
	soft-keyboard button {
		height: 48px;
		font-size: 20px;
	}
}

@media (max-width: 600px) {
	soft-keyboard button {
		font-size: 16px;
	}
}

@media (max-width: 400px) {
	soft-keyboard button {
		font-size: 14px;
	}
} */